body {padding-top: 3.5rem;}
@media (min-width: 768px) {
	.container--signup {max-width: 420px;}
}
@media (min-width: 768px) {
	.container--signin {max-width: 380px;}
}
.form-sublink {display: inline-block !important;}
.form-sublink {float: right;color: #6c757d;font-size: 12px;margin-top: .3rem;}
.fs-12 {font-size: 12px;}
.fs-14 {font-size: 14px;}
label {font-size: 14px; color: #2d2d2d; margin-bottom: .25rem; font-weight: 500;}
/*campos requeridos*/
.required{ color: #dc3545; }
.form-control:focus {box-shadow: none!important; border-color: #2188ff;}
.btn.focus, .btn:focus {box-shadow: none!important;}
.custom-select{font-size: 1rem;}
/*.table td, .table th {padding: .35rem;}*/

.form-control {
    padding: 10px;
    height: auto;
}
.btn-lg {
    font-size: 1rem;
}
/*table*/
table {font-size: .875rem;}/*14px*/